:root {
    --black: #000000;
    --black-50: rgba(0, 0, 0, 0.5);
    --white: #ffffff;
    --white-50: rgba(255, 255, 255, 0.5);
    --blue: #434CCC;
    --blue-30: #434CCC30;
    --yellow: #F1B505;
    --border-color: rgba(0, 0, 0, 0.1);

    --max-width: 1110px;
    --mv-auto: 0 auto;

    --gap: 16px;
    --gap-sm: 24px;
    --gap-md: 30px;
    --gap-lg: 40px;
    --gap-xl: 56px;

    --br-sm: 3px;
    --br-md: 6px;
    --br-lg: 12px;
    --br-full: 50%;

    --transition: all 0.2s linear;
}

/*
    1. Use a more-intuitive box-sizing model.
  */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
      2. Remove default margin
    */
* {
    margin: 0;
    padding: 0;
}

/*
      3. Allow percentage-based heights in the application
    */
html,
body {
    height: 100%;
    /* background-color: #121212; */
}

/*
      Typographic tweaks!
      4. Add accessible line-height
      5. Improve text rendering
    */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

/*
      6. Improve media defaults
    */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
      7. Remove built-in form typography styles
    */
input,
button,
textarea,
select {
    font: inherit;
}

/*
      8. Avoid text overflows
    */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
      9. Remove default list styles
    */
ul,
ol {
    list-style: none;
}

a {
    text-decoration: inherit;
    color: inherit;
}


.none {
    display: none;
}

.dm-serif {
    font-family: "DM Serif Display", serif;
}

.dm-sans {
    font-family: "DM Sans", sans-serif;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-700 {
    font-weight: 700;
}

.font-size-72 {
    font-size: 72px;
    line-height: 80px;
}

.font-size-56 {
    font-size: 56px;
    line-height: 64px;
}

.font-size-40 {
    font-size: 40px;
    line-height: 48px;
}

.font-size-24 {
    font-size: 24px;
    line-height: 32px;
}

.font-size-16 {
    font-size: 16px;
    line-height: 24px;
}

.font-size-20 {
    font-size: 20px;
    line-height: 32px;
}

.font-size-12 {
    font-size: 12px;
    line-height: 16px;
}

.container {
    margin: auto 15px;
}

.flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.ai-start {
    align-items: flex-start;
}

.jc-between {
    justify-content: space-between;
}

.fd-column {
    flex-direction: column;
}

.fd-row {
    flex-direction: row;
}

.ta-center {
    text-align: center;
}

.mb-26 {
    margin-bottom: 26px;
}

.mb-66 {
    margin-bottom: 66px;
}

.gap-33 {
    gap: 33px;
}

.gap-10 {
    gap: 10px;
}

.ml-0 {
    margin-left: 0;
}

.letter-spacing-03 {
    letter-spacing: 0.3em;
}

.uppercase {
    text-transform: uppercase;
}

.gap-20 {
    gap: 20px;
}

.tempgrid {
    height: 22000px;
    display: none;
    grid-template-columns: repeat(12, 1fr);
    margin: auto 135px;
    grid-column-gap: 31px;
    position: absolute;
    z-index: 999;
}

.asd {
    background-color: #44444420;
    width: 70px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 1 / 4 / 2 / 5;
}

.div5 {
    grid-area: 1 / 5 / 2 / 6;
}

.div6 {
    grid-area: 1 / 6 / 2 / 7;
}

.div7 {
    grid-area: 1 / 7 / 2 / 8;
}

.div8 {
    grid-area: 1 / 8 / 2 / 9;
}

.div9 {
    grid-area: 1 / 9 / 2 / 10;
}

.div10 {
    grid-area: 1 / 10 / 2 / 11;
}

.div11 {
    grid-area: 1 / 11 / 2 / 12;
}

.div12 {
    grid-area: 1 / 12 / 2 / 13;
}

.parent {
    position: fixed;
    z-index: 999;
    display: none;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 16px;
}

.asdd {
    background-color: #44444470;
    height: 16px;
}

.div20 {
    grid-area: 1 / 1 / 2 / 2;
}

.div21 {
    grid-area: 2 / 1 / 3 / 2;
}

.div22 {
    grid-area: 3 / 1 / 4 / 2;
}

.div23 {
    grid-area: 4 / 1 / 5 / 2;
}

.div24 {
    grid-area: 5 / 1 / 6 / 2;
}

.div25 {
    grid-area: 6 / 1 / 7 / 2;
}

.div26 {
    grid-area: 7 / 1 / 8 / 2;
}

.div27 {
    grid-area: 8 / 1 / 9 / 2;
}

.div28 {
    grid-area: 9 / 1 / 10 / 2;
}

.div29 {
    grid-area: 10 / 1 / 11 / 2;
}

.div30 {
    grid-area: 11 / 1 / 12 / 2;
}

.div31 {
    grid-area: 12 / 1 / 13 / 2;
}


/*-------------------- Global Settings --------------------*/


/*-------------------- Navbar --------------------*/
nav {
    background-color: var(--blue);
    padding: 16px 0 16px 0;


}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    min-width: 346px;
}

nav ul {
    position: fixed;
    top: 60px;
    left: -100%;
    width: 100%;
    text-align: center;
    transition-property: left;
    transition-duration: .5s;
}

nav ul li {
    background-color: var(--yellow);
    border: 2px solid var(--blue);
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    color: var(--white);
}

nav ul li:hover {
    background-color: var(--blue);
    border: 2px solid var(--yellow);

    padding: 10px;
}

.checkbtn {
    cursor: pointer;
}

#check {
    display: none;
}

#check:checked~ul {
    left: 0;
}

/*-------------------- About Header --------------------*/

.aboutHeader {
    background-color: var(--blue);
    color: var(--white);
    padding: 28px 0 39px 0;
}

.aboutHeader h1 {
    margin-bottom: 13px;
}

/*-------------------- Hero Header --------------------*/
.hero {
    padding: 47px 0 75px 0;
    border-bottom: 1px solid var(--border-color);
}

.heroLeft h5 {
    margin-bottom: 13px;
}

.heroLeft h1 {
    margin-bottom: 31px;
}

.heroLeft p {
    margin-bottom: 42px;
}

/*-------------------- About --------------------*/

.about {
    padding: 42px 0 80px 0;
    border-bottom: 1px solid var(--border-color);
}

.aboutText h2 {
    margin-bottom: 31px;
}

.aboutText p {
    text-align: center;
    margin-bottom: 50px;
}

.cards {
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.297017);
    border-radius: 5px;
    padding-top: 64px;
}

.card>img {
    margin-bottom: 54px;
    height: 115px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.card h3 {
    margin-bottom: 15px;
}

.card p {
    color: var(--black-50);
    margin-bottom: 25px;
}

.cardContent {
    margin-left: 30px;
    width: inherit;
}

.cardContent a {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding-top: 18px;
    gap: 7px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 21px;
}

/*-------------------- Agreement --------------------*/

.agreement {
    padding: 0 0 80px 0;
}

.agreementRight {
    margin-bottom: 49px;
}

.agreementRight h5 {
    margin-bottom: 19px;
}

.agreementRight h2 {
    margin-bottom: 31px;
}

.agreementRight>p {
    margin-bottom: 44px;
}

.agreementInfo {
    margin-bottom: 49px;
}

.agreementInfo>div {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.agreementInfo p {
    color: var(--black-50);
}

.agreementInfo img {
    margin-right: 10px;
    width: 45px;
    height: 45px;
}

.agreementButtons {
    gap: 6px;
}

.agreementButtons a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--blue);
    color: var(--white);
    width: 170px;
    height: 48px;
}

.agreementButtons a:nth-child(2) {
    color: var(--blue);
    background-color: transparent;
    border: 1px solid var(--blue-30);

}

/*-------------------- Statistics --------------------*/
.statistics {
    padding: 74px 0 73px 0;
    background-color: var(--blue);
    color: var(--white);
}

.statisticsText {
    margin-bottom: 31px;
}

.statisticsText h1 {
    margin-bottom: 31px;
}

.statisticsText p {
    margin-bottom: 31px;
}

.stats {
    gap: 40px;
}

.stats p {
    color: var(--white-50);
}

/*-------------------- Materials --------------------*/
.materials {
    padding: 63px 0 50px 0;
    border-bottom: 1px solid var(--border-color);
}

.materialsText {
    margin-bottom: 72px;
}

.materialsText p {
    margin-bottom: 33px;
}

.materialsText h2 {
    margin-bottom: 19px;
}

.materialsText h1 {
    margin-bottom: 31px;
}

.materialsText a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: transparent;
    color: var(--blue);
    border: 1px solid var(--blue-30);
    width: 170px;
    height: 48px;
}

.materialsCards {
    gap: 50px;
}

.materialsCard {
    display: flex;
    gap: 35px;
}

.materialsCard h3 {
    margin-bottom: 7px;
}

.materialsCard p {
    color: var(--black-50);
}

/*-------------------- Photo --------------------*/

.photo {
    padding: 15px 0 80px 0;
    border: 1px solid var(--border-color);
}

.photoLeft {
    margin-bottom: 58px;
}

.photoLeft img {
    border-radius: 5px;
}

.photoRight h2 {
    margin-bottom: 19px;
}

.photoRight h1 {
    margin-bottom: 31px;
}

.photoRight p {
    margin-bottom: 32px;
}

.photoRight a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--blue);
    color: var(--white);
    width: 170px;
    height: 48px;
}

/*-------------------- Graphic --------------------*/
.graphic {
    padding: 143px 0 144px 0;
}

.graphicLeft h2 {
    margin-bottom: 19px;
}

.graphicLeft h1 {
    margin-bottom: 47px;
}

.graphicLeftDetails {
    gap: 31px;
}

.graphicLeftDetails>div {
    position: relative;
}

.graphicLeftDetails hr {
    width: 100%;
    height: 8px;
    border: none;
    border-radius: 5px;
    background-color: var(--border-color);
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: #434CCC 0px 0px 10px 0px inset;
}

progress {
    position: relative;
    width: 100%;
    height: 10px;
}

progress::before,
progress::after {
    content: "";
    position: absolute;
    height: 100%;
}

progress::before {
    border-radius: 5px;
    width: 100%;
    background: #E9E9E9;
}



.progress1 progress::after {
    background-color: var(--yellow);
    width: 85%;
}

.progress2 progress::after {
    background-color: #E94A47;
    width: 73%;
}

.progress3 progress::after {
    background-color: var(--blue);
    width: 42%;
}

progress::after {
    border-radius: 5px;
}

.progressLabel {
    display: block;
}

.graphicLeftDetails label::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
}

.progress1 label::after {
    content: "85%";
}

.progress2 label::after {
    content: "73%";
}

.progress3 label::after {
    content: "42%";
}

/*-------------------- News --------------------*/

.news {
    padding: 63px 0 80px 0;
    background-color: var(--yellow);
}

.newsLeft h2 {
    margin-bottom: 19px;
}

.newsLeft h1 {
    margin-bottom: 38px;
}

.newsRight input {
    width: 100%;
    height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0 16px;
    margin-bottom: 19px;

}

.newsRight a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--blue);
    color: var(--white);
    width: 170px;
    height: 48px;
}

/*-------------------- Footer --------------------*/

.footer {
    padding: 72px 0 0px 0;
}

.footerLeft {
    margin-bottom: 79px;
}

.footerLeft>a img {
    margin-bottom: 23px;
}

.footerLeft>p {
    margin-bottom: 23px;
    color: var(--black-50);
}

.footerMid {
    gap: 120px;
    margin-bottom: 73px;
}

.footerMid h3 {
    margin-bottom: 24px;
}

.footerMid li {
    margin-bottom: 8px;
}

.footerRight {
    gap: 40px;
}

.footerRight div {
    gap: 20px;
}

.footerRight img {
    border-radius: 5px;
    width: 70px;
    height: 48px;
}

.footerBottom {
    padding: 27px 15px 0 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    gap: 8px;
    color: var(--black-50);
}



@media screen and (min-width: 1440px) {
    .container {
        margin: auto 135px;
    }

    /*-------------------- Navbar Desktop --------------------*/

    .hamburger {
        display: none;
    }


    nav {
        color: var(--white);
    }


    .logo {
        width: 102px;
        height: 48px;
    }

    .logo img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    nav div {
        justify-content: unset;
    }

    nav ul {
        top: 0;
        left: 0;
        width: auto;
        position: relative;
        display: flex;
        margin-left: auto;
        margin-right: 40px;
        gap: 35px;
    }

    nav ul li {
        border-radius: 0;
        margin: 0;
        border: none;
        background-color: transparent;
        padding: 0;
    }

    nav ul li:hover {
        background-color: transparent;
        border: none;

        padding: 0;
    }

    .signupButton {
        display: flex;
        border: 1px solid var(--white-50);
        width: 170px;
        height: 48px;
        border-radius: 5px;
        color: var(--white);
    }

    nav input {
        display: none;
    }

    nav label {
        display: none;
    }

    /*-------------------- About Header Desktop --------------------*/

    .aboutHeader {
        padding: 47px 0 55px 0;
    }

    .aboutHeader h1 {
        margin-bottom: 10px;
    }

    /*-------------------- Hero Desktop --------------------*/
    .hero {
        padding: 112px 0 143px 0;
    }

    .heroContainer {
        flex-direction: row;
    }

    .heroRight img:nth-child(1) {
        display: none;
    }

    .heroRight img:nth-child(2) {
        display: block;
    }

    .heroLeft>div {
        flex-direction: row;

    }

    /*-------------------- About Desktop --------------------*/
    .about {
        border-bottom: 1px solid var(--border-color);
    }

    .cards {
        flex-direction: row;
    }

    /*-------------------- Agreement Desktop --------------------*/

    .agreement {
        padding: 126px 0 158px 0;
    }

    .agreementContainer {
        flex-direction: row;
    }

    .agreementContainer>div {
        flex-basis: 50%;
    }

    .agreementLeft img:nth-child(1) {
        display: none;
    }

    .agreementLeft img:nth-child(2) {
        display: block;
        object-fit: none;
        height: 515px;
    }

    .agreementRight {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .agreementButtons {
        justify-content: start;
    }

    /*-------------------- Statistics Desktop --------------------*/

    .stats {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .statisticsText p {
        width: clamp(0px, 100%, 800px);

    }

    /*-------------------- Materials Desktop --------------------*/
    .materialsContainer {
        flex-direction: row;
        gap: 80px;
    }

    .materialsText {
        flex-basis: 40%;
    }

    .materialsCards {
        flex-direction: row;
        flex-basis: 92%;
        flex-wrap: wrap;
    }

    .materialsCard {
        flex-basis: 46.7%;
        width: clamp(0px, 100%, 350px);
    }

    .materialsCard img {
        width: 50px;
        height: 50px;
        margin-right: 30px;
    }

    /*-------------------- Photo Desktop --------------------*/
    .photo {
        padding: 144px 0 114px 0;
    }

    .photoContainer {
        flex-direction: row;
        gap: 130px;
    }

    .photoLeft {
        flex-basis: 50%;
    }

    .photoLeft img:nth-child(1) {
        display: none;
    }

    .photoLeft img:nth-child(2) {
        display: block;
    }

    .photoRight {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*-------------------- Graphic --------------------*/
    .graphicContainer {
        flex-direction: row;
        gap: 135px;
    }

    .graphicLeft {
        flex-basis: 40%;
    }

    .graphicRight {
        flex-basis: 60%;
    }

    /*-------------------- News Desktop --------------------*/
    .newsContainer {
        flex-direction: row;
        gap: 84px;
        align-items: center;
    }

    .newsRight {
        flex-direction: row;
        gap: 30px;
    }

    /*-------------------- Footer Desktop --------------------*/
    .footerContainer {
        flex-direction: row;
        gap: 130px;
    }

    .footerBottom {
        flex-direction: row;
        justify-content: space-between;
        padding: 27px 135px 29px 135px;
    }

    .footerBottom>div {
        flex-basis: 50%;
    }
}