:root {
  --black: #000000;
  --black-50: rgba(0, 0, 0, 0.5);
  --white: #ffffff;
  --white-50: rgba(255, 255, 255, 0.5);
  --blue: #434CCC;
  --blue-30: #434CCC30;
  --yellow: #F1B505;

  --max-width: 1110px;
  --mv-auto: 0 auto;

  --gap: 16px;
  --gap-sm: 24px;
  --gap-md: 30px;
  --gap-lg: 40px;
  --gap-xl: 56px;

  --br-sm: 3px;
  --br-md: 6px;
  --br-lg: 12px;
  --br-full: 50%;

  --transition: all 0.2s linear;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  /* background-color: #121212; */
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Remove default list styles
  */
ul,
ol {
  list-style: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}


.none {
  display: none;
}

.dm-serif {
  font-family: "DM Serif Display", serif;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-700 {
  font-weight: 700;
}

.font-size-72 {
  font-size: 72px;
  line-height: 80px;
}

.font-size-56 {
  font-size: 56px;
  line-height: 64px;
}

.font-size-40 {
  font-size: 40px;
  line-height: 48px;
}

.font-size-24 {
  font-size: 24px;
  line-height: 32px;
}

.font-size-16 {
  font-size: 16px;
  line-height: 24px;
}

.font-size-20 {
  font-size: 20px;
  line-height: 32px;
}

.font-size-12 {
  font-size: 12px;
  line-height: 16px;
}

.container {
  margin: auto 15px;
}

.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: flex-start;
}

.jc-between {
  justify-content: space-between;
}

.fd-column {
  flex-direction: column;
}

.fd-row {
  flex-direction: row;
}

.ta-center {
  text-align: center;
}

.mb-26 {
  margin-bottom: 26px;
}

.mb-66 {
  margin-bottom: 66px;
}

.gap-33 {
  gap: 33px;
}

.gap-10 {
  gap: 10px;
}

.ml-0 {
  margin-left: 0;
}

.letter-spacing-03 {
  letter-spacing: 0.3em;
}

.uppercase {
  text-transform: uppercase;
}

.gap-20 {
  gap: 20px;
}

.tempgrid {
  height: 22000px;
  display: none;
  grid-template-columns: repeat(12, 1fr);
  margin: auto 135px;
  grid-column-gap: 31px;
  position: absolute;
  z-index: 999;
}

.asd {
  background-color: #44444420;
  width: 70px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.div4 {
  grid-area: 1 / 4 / 2 / 5;
}

.div5 {
  grid-area: 1 / 5 / 2 / 6;
}

.div6 {
  grid-area: 1 / 6 / 2 / 7;
}

.div7 {
  grid-area: 1 / 7 / 2 / 8;
}

.div8 {
  grid-area: 1 / 8 / 2 / 9;
}

.div9 {
  grid-area: 1 / 9 / 2 / 10;
}

.div10 {
  grid-area: 1 / 10 / 2 / 11;
}

.div11 {
  grid-area: 1 / 11 / 2 / 12;
}

.div12 {
  grid-area: 1 / 12 / 2 / 13;
}

.parent {
  position: fixed;
  z-index: 999;
  display: none;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 16px;
}

.asdd {
  background-color: #44444470;
  height: 16px;
}

.div20 {
  grid-area: 1 / 1 / 2 / 2;
}

.div21 {
  grid-area: 2 / 1 / 3 / 2;
}

.div22 {
  grid-area: 3 / 1 / 4 / 2;
}

.div23 {
  grid-area: 4 / 1 / 5 / 2;
}

.div24 {
  grid-area: 5 / 1 / 6 / 2;
}

.div25 {
  grid-area: 6 / 1 / 7 / 2;
}

.div26 {
  grid-area: 7 / 1 / 8 / 2;
}

.div27 {
  grid-area: 8 / 1 / 9 / 2;
}

.div28 {
  grid-area: 9 / 1 / 10 / 2;
}

.div29 {
  grid-area: 10 / 1 / 11 / 2;
}

.div30 {
  grid-area: 11 / 1 / 12 / 2;
}

.div31 {
  grid-area: 12 / 1 / 13 / 2;
}


/*-------------------- Global Settings --------------------*/


/*-------------------- Navbar --------------------*/
nav {
  background-color: var(--blue);
  padding: 16px 0 16px 0;


}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  min-width: 346px;
}

nav ul {
  position: fixed;
  top: 60px;
  left: -100%;
  width: 100%;
  text-align: center;
  transition-property: left;
  transition-duration: .5s;
}

nav ul li {
  background-color: var(--yellow);
  border: 2px solid var(--blue);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  color: var(--white);
}

nav ul li:hover {
  background-color: var(--blue);
  border: 2px solid var(--yellow);

  padding: 10px;
}

.checkbtn {
  cursor: pointer;
}

#check {
  display: none;
}

#check:checked~ul {
  left: 0;
}

/*-------------------- Header --------------------*/

header {
  background-color: var(--blue);
  color: var(--white);
  padding-top: 34px;
}

header h3 {
  text-transform: uppercase;
  margin-bottom: 5px;
}

header h1 {
  margin-bottom: 19px;
}

header p {
  margin-bottom: 25px;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 48px;
  border-radius: 5px;
  background-color: var(--yellow);
}

.headerImage {
  width: 100%;
  height: 304px;
  margin-top: -6px;
}

.headerImage img {
  width: 100%;
  height: 304px;
  object-fit: none;
  position: absolute;
  left: 0;
}





/*-------------------- About --------------------*/

.about {
  background-color: var(--yellow);
  padding: 42px 0 80px 0;
}

.aboutText h2 {
  margin-bottom: 31px;
}

.aboutText p {
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  position: relative;
  gap: 16px;
}

.card {
  background-color: var(--white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.297017);
  border-radius: 5px;
  padding-top: 64px;
}

.card>img {
  margin-bottom: 54px;
  height: 115px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.card h3 {
  margin-bottom: 15px;
}

.card p {
  color: var(--black-50);
  margin-bottom: 25px;
}

.cardContent {
  margin-left: 30px;
}

.cardContent a {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding-top: 18px;
  gap: 7px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 21px;
}

/*-------------------- Aliquip --------------------*/

.aliquip {
  padding: 63px 0 57px 0;
}

.aliquipText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aliquipText h3 {
  margin-bottom: 19px;
}

.aliquipText h2 {
  margin-bottom: 31px;
}

.aliquipText p {
  text-align: center;
}

.clipCard h3 {
  width: clamp(200px, 60%, 500px);
  margin-bottom: 23px;
}

.clipCard p {
  color: var(--black-50);
}

.clipCard a {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
}

/*-------------------- Molestiae --------------------*/

.molestiae {
  background-image: url("../src/image/jpg/Rectangle.jpg");
  background-repeat: repeat-x;
  padding: 63px 0 0px 0;
  color: var(--white);
}

.molestiaeText {
  margin-bottom: 41px;
}

.molestiaeText h3 {
  margin-bottom: 18px;
}

.molestiaeText h2 {
  margin-bottom: 31px;
}


.molestiaeCards {
  gap: 16px;
  margin-bottom: 48px;
}

.molestiaeCard {
  position: relative;
}

.molestiaeCardContent {
  margin-left: 30px;
  margin-top: 31px;
  z-index: 1;
  position: absolute;
}

.molestiaeCardContent h3 {
  color: var(--white-50);
  margin-bottom: 3px;
}

.molestiaeCardContent h1 {
  margin-bottom: 22px;
}

.molestiaeCard:nth-child(2) h3 {
  margin-bottom: 16px;

}

.molestiaeCard:nth-child(2) .molestiaeCardContent {
  top: 0;
}

.molestiaeCard:nth-child(2) {
  padding-top: 30px;
  background-color: #E94A47;
  border-radius: 3px;
}

.molestiaeCard:nth-child(2) h1 {
  width: clamp(200px, 40%, 400px);
}

.molestiaeCard:nth-child(n+2) a {
  width: 48px;
  height: 48px;
}

.molestiaeCard:nth-child(3) h3 {
  margin-bottom: 17px;
}

.molestiaeCard:nth-child(3) h1 {
  width: clamp(170px, 40%, 400px);
}

.molestiaeCardContent a {
  width: 170px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.molestiaeCard>img {
  border-radius: 5px;

  z-index: 0;
  width: 100%;
}

.molestiaeButton a {
  border-radius: 5px;
  color: var(--blue);
  border: 1px solid var(--blue-30);
  width: 170px;
  height: 48px;
  margin-bottom: -3px;
}

.molestiaeBottom {
  color: var(--black);
}

.molestiaeBottom>img {
  mix-blend-mode: color-burn;
  margin-bottom: 7px;

}

.molestiaeBottom h1 {
  margin-bottom: 31px;
}

.molestiaeBottom h2 {
  margin-bottom: 46px;
}

.molestiaeBottomDescription img {
  margin-bottom: 16px;
  margin-left: -9px;
}

.molestiaeBottomDescription:last-child img {
  margin-bottom: 24px;
  margin-left: 0px;
}

.molestiaeBottom h3 {
  margin-bottom: 23px;
}

/*-------------------- Scripserit --------------------*/
.scripserit {
  background-color: var(--blue);
  padding: 63px 0 0px 0;
  color: var(--white);
  position: relative;
}

.scripserit h3 {
  margin-bottom: 19px;
}

.scripserit h2 {
  margin-bottom: 31px;
}

.scripserit p {
  margin-bottom: 40px;
}

.scripserit a {
  background-color: var(--yellow);
  width: 170px;
  height: 48px;
  border-radius: 5px;
  margin-bottom: 64px;
}

/*-------------------- Staff --------------------*/
.staff {
  padding: 63px 0 0 0;
}

.staff h2 {
  margin-bottom: 19px;
}

.staff h1 {
  margin-bottom: 31px;
}

.staff h4 {
  margin-bottom: 53px;
}

.staffCard {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.297017);
  border-radius: 5px;
}

.staffCard h3 {
  margin-bottom: 24px;
  margin-left: 32px;
}

.staffImg {
  margin: 32px 32px 0 32px;
  margin-bottom: 13px;
}

.staffImg img {
  width: 282px;
  height: 282px;
  border-radius: 50%;
}

.staffCardContent {
  padding-top: 18px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 32px;
}

.staffCardContent div {
  gap: 10px;
  margin-right: 32px;
  margin-bottom: 21px;
}

/*-------------------- Materials --------------------*/
.materials {
  padding: 95px 0 80px 0;
}

.materials h2 {
  margin-bottom: 19px;
}

.materials h1 {
  margin-bottom: 31px;
}

.materials h4 {
  margin-bottom: 52px;
}

.materialsCards {
  gap: 16px;
}

.materialsCard {
  align-items: flex-start;
  gap: 25px;
  padding: 25px 32px 30px 32px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.297017);
  border-radius: 5px;
}

.materialsCard img {
  margin-top: 7px;
}

.materialsCard h3 {
  margin-bottom: 7px;
}

/*-------------------- Boss --------------------*/
.boss {
  background-color: var(--blue);
  color: var(--white);
  padding: 80px 0 57px 0;
}

.bossImage {
  gap: 11px;
  margin-bottom: 33px;
}

.bossImage>img {
  width: 270px;
  height: 270px;
  border-radius: 50%;
}

.bossImage div {
  gap: 16px;
}

.bossImage div img {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 12.5px 16.5px;
}

.boss h1 {
  margin-bottom: 33px;
  margin-left: 60px;
}

.boss h2 {
  margin-bottom: 25px;
  margin-left: 60px;
}

.boss h3 {
  margin-bottom: 6px;
  margin-left: 60px;
}

.boss h4 {
  margin-left: 60px;
  color: var(--white-50);
}

/*-------------------- Contact Us --------------------*/

.contactus {
  padding: 63px 0 80px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.contactus h3 {
  margin-bottom: 19px;
}

.contactus h2 {
  margin-bottom: 31px;
}

.contactus p {
  margin-bottom: 60px;
}

.contactusButton a {
  border-radius: 5px;
  color: var(--blue);
  border: 1px solid var(--blue-30);
  width: 170px;
  height: 48px;
  margin-bottom: -3px;
}

/*-------------------- Blog --------------------*/
.blog {
  padding: 46px 0 48px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.blogText h3 {
  margin-bottom: 19px;
}

.blogText h2 {
  margin-bottom: 38px;
}

.blogCards {
  margin-bottom: 48px;
}

.blogCard {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.297017);
  border-radius: 5px;
}

.blogCard>img {
  margin: 32px 32px 0 32px;
  border-radius: 3px;
  margin-bottom: 15px;
}


.blogCard h3 {
  margin-bottom: 17px;
  margin-left: 32px;
  color: var(--black-50);
}

.blogCard p {
  margin-bottom: 24px;
  margin-left: 32px;
}

.blogButton {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 32px;
  padding-top: 18px;
  padding-bottom: 21px;
}

.blogButton a {
  gap: 6px;
}

.blogButtonDown a {
  border-radius: 5px;
  color: var(--blue);
  border: 1px solid var(--blue-30);
  width: 170px;
  height: 48px;
}

/*-------------------- Portfolio --------------------*/
.portfolio {
  padding: 62px 0 84px 0;
}

.portfolioText {
  margin-bottom: 48px;
}

.portfolioText div {
  gap: 14px;
}

.portfolioText h3 {
  margin-bottom: 33px;
}

.portfolioText h2 {
  margin-bottom: 40px;
}

.instagramButton {
  width: 48px;
  height: 48px;
  position: relative;
  border: 1px solid var(--blue-30);
  border-radius: 5px;

}

.instagramButton img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolioImage img {
  border-radius: 5px;
}

/*-------------------- Contact --------------------*/

.contact {
  background-image: url("../src/image/jpg/rectangleYellow.jpg");
  background-repeat: repeat-x;
  padding: 63px 0 0px 0;
  background-color: var(--blue);
}

.contactText h3 {
  margin-bottom: 19px;
}

.contactText h2 {
  margin-bottom: 31px;
}

.contactText p {
  margin-bottom: 36px;
}

.contactText form {
  margin-bottom: 16px;
}

.contactText input {
  width: 100%;
  height: 48px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0 16px;
  margin-bottom: 16px;
}

.contact a {
  background-color: var(--blue);
  width: 170px;
  height: 48px;
  border-radius: 5px;
  margin-bottom: 64px;
  color: var(--white);
}

.contactForm {
  color: var(--white);
}

.contactFormFirst {
  position: relative;
  margin-bottom: 47px;
}



.map {
  border-radius: 5px;
}

.location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contactFormSecond h3 {
  margin-bottom: 19px;
}

.contactFormSecond h2 {
  margin-bottom: 38px;
}

.contactFormSecond form {
  gap: 32px;
  margin-bottom: 48px;
}

.contactFormSecond input {
  width: 100%;
  height: 48px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0 16px;
}

.contactFormSecond textarea {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 96px;
  padding: 16px;
}

.contactFormSecond a {
  background-color: var(--yellow);
  width: 170px;
  height: 48px;
  border-radius: 5px;
  margin-bottom: 64px;
  color: var(--white);
}

/*-------------------- Footer --------------------*/

.footer {
  padding: 72px 0 0px 0;
}

.footerLeft {
  margin-bottom: 79px;
}

.footerLeft>a img {
  margin-bottom: 23px;
}

.footerLeft>p {
  margin-bottom: 23px;
  color: var(--black-50);
}

.footerMid {
  gap: 120px;
  margin-bottom: 73px;
}

.footerMid h3 {
  margin-bottom: 24px;
}

.footerMid li {
  margin-bottom: 8px;
}

.footerRight {
  gap: 40px;
}

.footerRight div {
  gap: 20px;
}

.footerRight img {
  border-radius: 5px;
  width: 70px;
  height: 48px;
}

.footerBottom {
  padding: 27px 15px 0 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  gap: 8px;
  color: var(--black-50);
}

@media screen and (min-width: 1440px) {
  .container {
    margin: auto 135px;
  }

  /*-------------------- Navbar Desktop --------------------*/

  .hamburger {
    display: none;
  }


  nav {
    color: var(--white);
  }


  .logo {
    width: 102px;
    height: 48px;
  }

  .logo img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  nav div {
    justify-content: unset;
  }

  nav ul {
    top: 0;
    left: 0;
    width: auto;
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: 40px;
    gap: 35px;
  }

  nav ul li {
    border-radius: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    padding: 0;
  }

  nav ul li:hover {
    background-color: transparent;
    border: none;

    padding: 0;
  }

  .signupButton {
    display: flex;
    border: 1px solid var(--white-50);
    width: 170px;
    height: 48px;
    border-radius: 5px;
    color: var(--white);
  }

  nav input,
  label {
    display: none;
  }

  /*-------------------- Header Desktop --------------------*/
  .header {
    padding: 111px 0 0 0;
  }

  .header>div {
    display: flex;
  }

  .headerImage {
    position: relative;
    height: 510px;
  }

  .headerImage img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    /* left: -30px; */
  }

  .headerImage img:nth-child(1) {
    display: block;
  }

  .headerImage img:nth-child(2) {
    display: none;
  }

  .header h1 {
    font-size: 72px;
    line-height: 80px;
  }

  .header p {
    font-size: 16px;
    line-height: 24px;
  }

  /*-------------------- About Desktop --------------------*/

  .about {
    padding: 60px 0 80px 0;
  }

  .aboutText {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aboutText p {
    width: 570px;
  }

  .cards {
    flex-direction: row;
  }

  .card {
    flex-basis: 25%;
    min-width: 370px;
    height: 416px;
    justify-content: center;
  }

  /*-------------------- Aliquip Desktop --------------------*/
  .aliquipText>p {
    width: 570px;
  }

  .clipCard {
    flex-direction: row;
    align-items: center;
  }

  .clipCard h3 {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
  }

  .clipCard p {
    width: auto;
  }

  .clipCard:nth-child(2) img {
    order: 2;
  }

  /*-------------------- Molestiae Desktop --------------------*/


  .molestiaeText>p {
    width: 570px;
  }

  .molestiaeCard>img:nth-child(2) {
    display: none;
  }

  .molestiaeCard>img:last-child {
    display: block;
  }

  .molestiaeCards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .molestiaeCard:first-child {
    width: 100%;
  }

  .molestiaeCard:nth-child(n+2) {
    flex-basis: 49.3%;
  }

  .molestiaeBottom {
    padding: 180px 0 0 0;
    flex-direction: row;
  }

  .molestiaeBottom>img {}

  .molestiaeBottomDescriptions {
    display: flex;
    gap: 30px;
  }

  /*-------------------- Scripserit Desktop --------------------*/
  .scripserit {
    display: flex;
    flex-direction: row;
  }

  /*-------------------- Staff Desktop --------------------*/

  .staff>div h4 {
    width: 507px;
  }

  .staffCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  /*-------------------- Materials Desktop --------------------*/
  .materialsCards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: row;
  }

  .materials h4 {
    width: 570px;
    margin-left: auto;
    margin-right: auto;
  }

  .materialsCard {
    flex-basis: 31.6%;
    margin-bottom: 30px;
  }

  /*-------------------- Boss Desktop --------------------*/

  .bossContainer {
    display: flex;
    flex-direction: row;
  }

  .bossImage {
    gap: 84px;
  }

  .bossContainer h2 {
    width: 670px;
  }

  /*-------------------- Contact us Desktop --------------------*/
  .contactusText p {
    width: 570px;
  }

  .contactusBrands {
    flex-direction: row;
  }

  /*-------------------- Blog Desktop --------------------*/
  .blogCards {
    flex-direction: row;
    gap: 30px;
  }

  .blogCard {
    flex: 1;
  }

  .blogCard>img:first-child {
    display: none;
  }

  .blogCard>img:nth-child(2) {
    display: block;
    width: clamp(500px, 90%, 750px);
  }

  /*-------------------- Portfolio Desktop --------------------*/
  .portfolioContainer {
    flex-direction: row;
  }

  .portfolioImages {
    flex-direction: row;
    margin-left: auto;
  }

  .portfolioText {
    margin-right: 25px;
  }

  .portfolioText h2 {
    width: 275px;
  }

  /*-------------------- Contact Desktop --------------------*/
  .contactText {
    display: flex;
  }

  .contactText>div {
    width: 470px;
  }

  .contactText>img:last-child {
    display: none;
  }

  .contactText>img:nth-child(2) {
    margin-left: auto;
    display: block;
    width: 100%;
  }

  .contact {
    background-image: url("../src/image/jpg/rectangleYellowShort.jpg");
  }

  .contactForm {
    flex-direction: row;
    gap: 30px;
  }

  .contactForm {
    padding: 96px 0 0 0;
    gap: 96px;
  }

  .contactFormFirst>img:nth-child(1) {
    display: none;

  }

  .contactFormFirst>img:nth-child(2) {
    display: block;
  }

  .contactFormSecond {
    flex-basis: 50%;
    padding: 0 0 0 0;
  }

  .contactFormSecond a {
    margin-bottom: 0;
  }

  /*-------------------- Footer Desktop --------------------*/
  .footerContainer {
    flex-direction: row;
    gap: 130px;
  }

  .footerBottom {
    flex-direction: row;
    justify-content: space-between;
    padding: 27px 135px 29px 135px;
  }

  .footerBottom>div {
    flex-basis: 50%;
  }


}