@media only screen and (max-width: 576px) {

* {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}

/* font-family: 'DM Sans', sans-serif; */

.button {
    background: #F1B505;
    border-radius: 5px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    line-height: 24px;
    padding: 13px 55.5px 11px;
    display: inline-block;
}

.button-plus {
    display: inline-block;
    padding: 14px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}


/* .rectangle-1 start */
.desktop-nav {
    display: none;
}


.rectangle-1 {
    padding: 0 15px;
    height: 800px;
}

.mobile-nav {
    margin-bottom: 31px;
    display: block;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    align-items: center;
}

.rectangle-1 h4 {
    line-height: 32px;
    text-transform: uppercase;
    font-size: 24px;
}


/* hero start */
.desktop-hero-img {
    display: none;
}

.hero-text {
    margin-top: 0;
}

.mobile-hero-img {
    display: block;
}

.rectangle-1 h2 {
    width: 258px;
    margin-bottom: 19px;
}

.rectangle-1 h5 {
    margin-bottom: 5px;
}

.rectangle-1 p {
margin-bottom: 25px;
}
/* hero finish */

/* .rectangle-1 finish */



/* rectangle-2 start */

.rectangle-2 {
    padding: 42px 15px 80px;
}

.rectangle-2-cards {
    margin-top: 50px;
    display: block;
}

.card-2 {
    margin-bottom: 16px;
}


.card-2 h4 {
    color: #000;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
}

.card-2 p {
    font-family: 'DM Sans', sans-serif;
    color: #00000080;
    line-height: 24px;
    margin-bottom: 18px;
    padding-bottom: 25px;
    border-bottom: 1px solid #00000080;
    width: 282px;
}

.card-2 a {
    display: flex;
    gap: 7px;
    align-items: center;
    color: #000;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    line-height: 24px;
}

/* rectangle-2 finish */




/* rectangle-3 start */
.rectangle-3 {
    padding: 63px 15px 57px;
}

.header-3 h5 {
    margin-bottom: 19px;
    width: 100%;
}

.header-3 h3 {
    margin-bottom: 31px;
    width: 100%;
}

.header-3 p {
    width: 100%;
}

.mobile-clip-img {
    width: 100%;
    display: block;
}

.desktop-clip-img {
    display: none;
}

.content-3 h4 {
    font-size: 24px;
    line-height: 32px;
    width: 194px;
    margin-bottom: 23px;
    margin-top: 0;
}

.content-3 p {
    margin-bottom: 18px;
}

.top-3 {
    display: block;
}

.down-3 {
    display: block;
}
/* rectangle-3 finish */



/* rectangle-4 start */
.rectangle-4 {
    padding: 63px 15px 0;
}

.rectangle-4 h5 {
    margin-bottom: 19px;
}

.rectangle-4 h3 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 31px;
}

.rectangle-4 p {
    width: 100%;
}

.img-woman-4 {
    background-image: url('../img/mobile-home/rectangle-4/woman.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 512px;
    padding: 31px 0 0 30px;
    position: relative;
    top: 33px;
}

.img-woman-4 p {
    margin-bottom: 3px;
}

.img-woman-4 h3 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 22px;
    width: 265px;
}
/* rectangle-4 finish */



/* rectangle-5 start */
.rectangle-5 {
    padding: 122px 15px 62px;
}

.rectangle-5-imgs {
    flex-direction: column;
    gap: 16px;
}

.erroribus {
    background-image: url('../img/mobile-home/rectangle-5/statue.png');
    padding: 31px 0 0 30px;
}

.dog {
    background-image: url('../img/mobile-home/rectangle-5/dog.png');
    padding: 31px 0 0 30px;
}

.rectangle-5 .btn {
    text-align: center;
    margin-bottom: 0;
}

.mobile-clip-img-5 {
    display: block;
    width: 100%;
}

.desktop-clip-img-5 {
    display: none;
}                    

.under-part-5 {
    display: block;
}

.under-part-5 h3 {
    font-size: 40px;
    line-height: 48px;
    margin: 0 0 31px;
}

.under-part-5 p {
    margin-bottom: 46px;
}

.tacimates p {
    margin-bottom: 26px !important;
}

.text-5 {
    display: block;
}

.text-5 h4 {
    margin: 16px 0 23px;
}
/* rectangle-5 finish */




/* rectangle-6 start */
.content-6 {
    padding: 63px 15px 64px;
}

.content-6 h5 {
    margin-bottom: 19px;
}

.content-6 h3 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 31px;
    width: 100%;
}

.content-6 p {
    margin-bottom: 24px;
    width: 100%;
}

.mobile-bitmap {
    display: block;
    width: 100%;
}

.desktop-bitmap {
    display: none;
}

/* rectangle-6 finish */

}
