@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=DM+Serif+Display&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* 
    font-family: 'DM Sans', sans-serif;
    font-family: 'DM Serif Display', serif;
  */
*{
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    list-style-type: none;

}
  .container{
    margin: 0 auto;
    padding: 0;
    width: 1170px;
  }
  header{
    display: flex;
    justify-content: space-between;
  }
  .navLinks{
    display: flex;
    gap: 20px;
  }

.logo{
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}
.slider,header{
  background: #434CCC;
  padding-left: 15px;
  padding-right: 15px;
}
.slider h5{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  letter-spacing:0.3em;
}
.slider h2{
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  color: #FFFFFF;
}
.slider p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.explore{
  background-color: #F1B505;
  padding: 13px 55px 13px 55px;
  border-radius: 3px;
  color: #FFFFFF;
}

@media screen and (max-width:480px){
    .container{
        width: 100%;
    }
    .explore{
        background-color: #F1B505;
        padding: 13px 55px 13px 55px;
        border-radius: 3px;
        color: #FFFFFF;
    }
    .sliderBtn{
      margin-top: 25px;
    }
}



